---
layout: workshop
root: .
venue: NGCMG/ University of Southampton
address: Boldrewood Campus, University of Southampton, Southampton, SO16 7QF
country: United-Kingdom
humandate: Jun 21, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2015-06-21
enddate: 2015-06-21
latlng: 50.8560,-1.3291
instructor: ["Steve Crouch", "John Robinson", "Devasena Inupakutika"]
helper: ["Iain Emsley"]
contact: s.crouch@software.ac.uk
---

<!-- This block displays the instructors' names if they are available. -->
<!-- {% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p-->
<!--{% endif %}-->

<!-- This block displays the helpers' names if they are available. -->
<!--{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}-->

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<!--<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and postdoctoral scientists who are familiar 
  with basic programming concepts (like loops, conditionals, arrays, and functions) but 
  need help to translate this knowledge into practical tools to help them work more productively.
</p> -->

<!--
    This block displays the address and links to a map showing directions.
-->
<!--{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %} -->

<!--
    Modify the block below if there are any special requirements.
-->
<!--<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p> -->

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<!--<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p> -->

<!--hr/-->

<h2>Setup</h2>

<p>
  To participate in this workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}

<hr/>

<h2>Before the workshop</h2>

<p>
There are a three extra tasks to undertake before the workshop in 
order to help make sure things run smoothly. Please try to do the
following.
</p>

<div class="row-fluid">
  <div class="span6">

<h3>1. Grab free accounts</h3>

<p>
If you haven't already, please register for free accounts to 
<ul>
<li>Make use of Github. Register <a href='https://github.com/'>here</a> and don't forget your password. We will use this service as part of the lesson on version control.</li>
<li>Use the Met Office datapoint API. Register for an account 
<a href='http://register.metoffice.gov.uk/register/datapoint'>here</a>. We will use this as a data source for some of the exercises.</li>
</ul>
</p>

<h3>2. Take a look at Python</h3>

<p>
If you are new to Python, or you fear that your Python is rusty, it 
may be worth taking a look at an online introduction. Christopher 
Woods has a nice short introduction 
<a href='http://chryswoods.com/beginning_python'>here</a>. 
If you can follow this as 
far as "conditions", you are good to go. We will be reviewing this 
material anyway, so don't worry if you get stuck.
</h>

</div>
<div class="span6">

<h3>3. Check your setup</h3>
<p>
Finally, it is worth checking your setup, following the steps outlined 
below.
</p>
<ul>
  <li>
    Download <a href="./setup/installation_test_1.py">installation_test_1.py</a>
  </li>
  <li>Open up a bash shell</li>
  <li>Change into the directory where you put the script</li>
  <li>Run the script:
    <pre>python installation_test_1.py</pre>
  </li>
</ul>
<p>
  To check you have the necessary software and tools:
</p>
<ul>
  <li>
    Download <a href="./setup/installation_test_2.py">installation_test_2.py</a>
  </li>
  <li>Open up a bash shell</li>
  <li>Change into the directory where you put the script</li>
  <li>Run the script:
    <pre>python installation_test_2.py</pre>
  </li>
</ul>

</div>
</div>

<!-- Make the next bit accessable before the start of day 1 -->
<hr/>
